@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px; 
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #D9D9D9;  
  border-radius: 10px;   
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #B0B0B0; 
}

.css-1se2ol6{
  overflow-y: scroll;
}